.containter {
    padding-top: 8em;
    height: 100vh;
    /* background-color: #33cccc; */
    background: #2e2e2e; /* Old browsers */
    text-align: center;
}

.splash-img:hover {
    cursor: pointer;
}